<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        {% for post in object_list %}
        <div class="post_entry">
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
        {% endfor %}
	{% endblock content %}

	<!-- <script src="" type="text/javascript"></script> -->
</body>
</html>
